body{
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  body {
    background-image: url("../images/bgsmall.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
}


